body{
    margin: 0%;
}

.Navbar{
    display: flex;
    height: 50px;
    background: #333333;
    position: fixed;
    width: 100vw;
    z-index: 3;
}

.Navbar div{
    width: 25%;
    display: flex;
    align-self: center;
    justify-content: center;
    
}

.Navbar div a{
    text-decoration: none;
    color: #b4b4b4;
    font-size: 20px; 
}

.Navbar div a:hover{
    color: white;
}

.Main{
    padding-top: 50px;
    background-size: cover;
    height: calc(100vh);
    text-align: center;
}

.Main h1{
    font-size: 48px;
    margin-block-start: 1em;
    margin-block-end: 0.5em;
}

.Main h2{
    font-size: 30px;
    font-weight: 400;
    margin-block-start: 1em;
    margin-block-end: 0.5em;
}

.Product{
    width: 40%;
    margin: auto;
    text-align: center;
    background-color: white;
    margin-top: 40px;
    height: 700px;
    max-height: 800px;
    margin-bottom: 30px;
    position: relative;
    background-image: url("https://www.ixbt.com/img/n1/news/2020/5/2/macOS_11_Big_Sur_Stock_wallpapers_by_androidsage.com%20(4)_large.jpg");
}

.Product:hover{
    transform: scale(1.03);
    transition: 0.4s
}

.Product:not(:hover){
    transform: scale(1);
    transition: 0.4s
}

.Product_obert{
    width: 95%;
    height: 96%;
    margin: auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    background-color: white;
}

.Product:hover .Product_obert{
    transform: scale(0.95);
    transition: 0.4s
}

.Product:not(:hover) .Product_obert{
    transform: scale(1);
    transition: 0.4s
}

.Product img{
    max-height: 300px;
}

.Product_img{
    max-width: 30vw;
    margin: 10px;
}

.Info{
    padding-top: 50px;
    background-size: cover;
    height: calc(100vh);
    color: black;
    font-size: 24px;
}

.Admin{
    padding-top: 50px;
}

.Admin_block{
    width: 40%;
    margin: auto;
    position: relative;
    padding: 15px;
    text-align: center;
}

.Admin_block_field{
    text-align: left;
    margin:10px;
}

.Admin textarea {
    width: 100%;;
    max-height: 300px;
    max-width: 100%;
}

.Admin p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.Product_title{
    font-size: 44px;
    padding-top: 10px;
}

.Product_discription{
    font-size: 16px;
    margin: 10px;
}

.Product_price{
    font-size: 30px;
    position: absolute;
    bottom: 120px;
    width: 10%;
    left: 45%;
    text-align: center;
}

.Product_block{
    display: flex;
    flex-wrap: wrap;
}

.Product_buttons{
    display: flex;
    margin: 10px;
    justify-content: space-evenly;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.State_buttons{
    display: flex;
    margin: 10px;
    justify-content: space-evenly;
    width: 100%;
}

.User{
    padding-top: 50px;
    background-size: cover;
}

.Search_buttons{
    position: relative;
    width: 40%;
    margin: auto;
    display: flex;
}

.User_text{
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    margin-top: 10px;
}

.User_textarea{
    margin: 30px auto;
    width: 300px;
    max-width: 300px;
    display: block;
}

button {
    width: 140px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: #333333;
    text-align: center;
    margin: 20px auto;
    font: normal 17px arial;
    border: none;
  }

  button:hover {
    transform: scale(1.05);
    transition: 0.3s;
    background-color: white;
    color: #333333;
    border: 1px solid #333333;
  }

  button:not(:hover) {
    transform: scale(1);
    transition: 0.3s
  }

  .Info_inputs{
      display: flex;
      width: 60%;
      margin: auto;
      justify-content: space-evenly;
    }

  .Info_inputs div{
      display: flex;
      margin: 10px 20px ;
  }

  .Info p {
      margin-block-end: 0px;
      margin-block-start: 0px;
      margin-right: 15px;
  }
  
  